@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: scroll;
}

.hero{
  background-image: url('images/hero2.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: black;
  background-blend-mode: exclusion;
}

.post-card-image{
  background-image: url('images/hero2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
